// color palette
$kRaspberry: #ee2c74;
$kRaspberryAlpha: rgba(238, 44, 116, 0.5);
$kLime: #d5e04d;
$kCustomLightBlue: #66c5d1;
$kCustomDarkBlue: #002d89;
$kDarkBlue: #003087;
$kDarkBlueHover: #00205c;
$kBellBlue: #3470af;
$kRogersRed: #da291c;